
<nav class="navbar navbar-dark fixed-top m-5">

    <div class="container-fluid">

        <a class="navbar-brand header-title" href="#">
            <img src="assets\img\untitled.svg" alt="" width="50" height="50" class="d-inline-block align-top mr-2">

            <span>
                Douglas
                <br>
                Damiani
            </span>
            
        </a>

        <div class="row">

            <div class="dropdown-bar header-ul-center">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul-row">
    
                   
    
                    <li class="nav-item mr-5">
                        <a class="header-section nav-link active" href="#"><dcv-text-shadow text="Sobre Mim"></dcv-text-shadow></a>
                    </li>
    
                    <li class="nav-item mr-5">
                        <a class="header-section nav-link" href="#resume-section"><dcv-text-shadow text="Resumo"></dcv-text-shadow></a>
                    </li>
    
                    <li class="nav-item mr-5">
                        <a class="header-section nav-link" href="#portfolio-section"><dcv-text-shadow text="Portfólio"></dcv-text-shadow></a>
                    </li>
                    
                    <li class="nav-item mr-5">
                        <a class="header-section nav-link" href="#contact-section" tabindex="-1"><dcv-text-shadow text="Contato"></dcv-text-shadow></a>
                    </li>
    
                    
    
                </ul>
    
            </div>
    
            <div>
                <a class="header-cv" href="api/DamianiAPI/DamianiCv" target="_blank">
                    DOWNLOAD CV
                </a>
            </div>

        </div>
        
        

    </div>

    


</nav>