

<div class="content-jump"></div>

<div class="">

    <div class="content-title-name">

        <h1>Douglas <br> Damiani</h1>

    </div>
    
</div>

<section class="content-first content-item ">

    <dcv-change-word [Words] = (Words) ></dcv-change-word>

    <p class="py-4">
        Olá! Sou Douglas Damiani, WEB Developer especialista em C#.	<br>
        Trabalho utilizando de diversos recursos,  com visão ampla, analítica, criativa e com foco nos resultados.	<br>
        Posso colaborar com seu projeto?	<br>  
    </p>

    <a class="content-buttom" href="#contact-section">

        <dcv-text-shadow  text="Contato" [buttom] = true > </dcv-text-shadow>
        
    </a>
        
</section>

<section class="content-item" id="resume-section">

    <div class="mb-5">
        <h1>Tecnologias</h1>
        <span class="subtitle">FRAMEWORKS & PATTERNS</span>
    </div>
    


    <div class="my-3">
     
        <p>.NET CORE 3.1, C#, HTML, CSS, Javascript, JQuery, TypeScript, Bootstrap, Angular 11, Entity Framework Core, LINQ;</p>

        <p>WebAPI, REST, DDD, MVC, SOLID;</p>

        <p>Utilização do GIT;</p>

        <p>Servidor Web (IIS), Microsoft Azure;</p>

        <p>Acesso ao banco de dados SQL Server;</p>

        <p>Ferramentas Utilizadas: Visual Studio Code, Visual Studio 2019 e SQL Server 2017. </p>
            
    </div>
        
</section>




<section class="content-item">

    <div class="mb-5">
        <h1 class="">Serviços</h1>
        <span class="subtitle">OQUE FAÇO</span>
    </div>

    <div class="my-5">
        <h4 class="mb-4">Full-Stack <br> Development</h4>
        <p>Implementação e manutençao Web, Client-side com Angular, TypeScript, HTML, CSS, Bootstrap e outros. Serve-side com .Net Core e mais.</p>
    </div>

    
    <div class="">

        <h4 class="mb-4">Back-End <br> Development</h4>
        <p>Implementação e manutenção, Server-side com .Net core ,SqlServer e Microsoft Azure.</p>

    </div>


    
</section>

<section class="content-item">

    <div class="mb-5">
        <h1 class="">Histórico Acadêmico</h1>
        <span class="subtitle">ESTUDEI EM</span>
    </div>
   
    <div class="container-fluid mb-4">
        
        <div class="row">

            <div class="col-12 mb-5">

                
                <div class="row mb-4">

                    <span class="left-vertical-span">
                        2018 - 2021
                    </span>

                    <h6>
                        Análise e Desenvolvimento de Sistema
                        <br>
                        Unicesumar
                    </h6>
                </div>
                
        
                <p>
                    Tecnólogo em Análise e Desenvolvimento de Sistemas é um profissional de nível superior que analisa, projeta, documenta, especifica, testa, implementa e cuida da manutenção de sistemas computacionais e software.
                </p>
            
        
            </div>
        
            <div class="col-12">

                <div class="row mb-4">
                    <span class="left-vertical-span">
                        2019 - Atual
                    </span>
                    <h6>
                        Tecnologia da Informação
                        <br>
                        Alura
                    </h6>
                </div>
                
        
                <p>
                    Na Alura você encontra cursos que vão de programação ao design, passando por front-end, mobile e marketing digital. Aprendizado estruturado, com a didática de quem sabe ensinar e é reconhecido no mercado de trabalho.
                </p>
            
        
            </div>

        </div>
            
    </div>
 
</section>

<section class="content-item">

    <div class="mb-5">
        <h1 class="">Idiomas</h1>
        <span class="subtitle">LEITURA E ESCRITA</span>
    </div>

    <div class="row mb-4">

        <div class="col-xl mb-2">

            <h5>Português</h5>
            <span>Nativo</span>

        </div>

        
        <div  class="col-xl mb-2">
            
            <h5>Inglês</h5>
            <span>Nível intermediário</span>

        </div>

        

    </div>

    
</section>

<section class="content-item" id="portfolio-section">

    <div class="mb-5">
        <h1 class="">Portfolio</h1>
        <span class="subtitle">ULTIMOS TRABALHOS</span>
    </div>

    <div class="row mb-4">

        <div class="col-xl mb-2">
            
            
            <a class="image-sub"  href="#">
                <div>
                    
                    <img class="img-fluid img-fit" src="\assets\img\ForumEnd.JPG" alt="">
                    <span class="box">  <span>Link</span> </span>

                </div>

                <div class="mt-3">
                    <p > ForumGeneric - In Development </p>
                </div>
            </a>

        </div>

        
        <div  class="col-xl mb-2">
            <a class="image-sub" href="#">
                <div>
                    <img class="img-fluid img-fit" src="\assets\img\500px.png" alt="" >
                    <span class="box"> <span>Link</span> </span>
                </div>
                <div class="mt-3">
                    <p > In Progress </p>
                </div>
                
            </a>

        </div>

        

    </div>

    
</section>

<section class="content-item content-item-last" id="contact-section">

    <div class="mb-5">
        <h1 class="">Contato</h1>
        <span class="subtitle">VAMOS NOS CONHECER</span>
    </div>


    <div class="container-fluid">

        <div class="row justify-content-between ">

            <dcv-content-form class="col-xl mr-xl-4"></dcv-content-form>

            <div class="col-xl-6 contact">
        
                <h4 class="mb-5">Douglas Damiani</h4>
    
                <ul class="contact-ul">
                    <li>
                        <span class="contact-item"> IDADE: </span>
                        <span class="contact-value"> 24 </span>
                    </li>
    
                    <li>
                        <span class="contact-item"> PAÍS: </span>
                        <span class="contact-value"> Brasil </span>
                    </li>
    
                    <li>
                        <span class="contact-item"> ENDEREÇO: </span>
                        <span class="contact-value"> Santo André </span>
                    </li>
    
                    <li>
                        <span class="contact-item"> TELEFONE: </span>
                        <span class="contact-value"> 11 97666 0692 </span>
                    </li>
    
                    <li>
                        <span class="contact-item"> E-MAIL: </span>
                        <span class="contact-value"> douggdamiani@hotmail.com </span>
                    </li>
                </ul>
    
        
            </div>
    
        </div>

    </div>

    

    

</section>
